body {
    font-family: "Inter", sans-serif;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #111;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.title {
    font-size: 2rem;
    margin: 0;
}

.main-content {
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 800px;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.versions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px; /* Agrega espacio a los lados */
}

.version-item {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    text-align: left;
    color: #111;
}

.version-item h3 {
    margin-top: 0;
}

.button-download {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 7px;
    background-color: #632fb2;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.button-download:hover {
    background-color: #281b3d;
    transform: scale(1.05);
}

span {
    background-color: rgb(225, 120, 110);
    padding: 3px 5px;
    border-radius: 5px;
    margin-left: 5px;
}

.working {
    text-decoration: line-through;
    cursor: pointer;
}

.a__back {
    text-decoration: none;
    color: #111;
    font-weight: bold;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    transition-property: background-color, color, outline,transform;
    transition-duration: 500ms;
}

.a__back:hover {
    background-color: #000;
    outline: 2px solid #fff;
    color: #fff;
    transform: scale(1.05);
}

.p__platform {
    display: inline-flex;
    margin-left: 10px;
    font-weight: 300;
}